@font-face {
  font-family: "roboto";
  src: url("./Roboto/Roboto-Regular.ttf");
}

html {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "roboto";
  box-sizing: border-box;
}

/* .headerNav {
  border-bottom: .5px solid rgb(185, 185, 185);
} */

header {
  padding: 0.2rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h2 {
  color: #f24a4a;
}

.hamburgerNav {
  width: 10%;
  display: flex;
  flex-direction: column;
  background: #ff725e;
  color: white;
  border-radius: 0.5rem;
  position: absolute;
  padding: 1rem;
  box-sizing: border-box;
  right: 4rem;
  top: -2rem;
}

.hamburgerNav p {
  text-align: center;
}

.hamburger {
  max-width: 1400px;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
}

.hamburger div {
  background: black;
  width: 3%;
  display: none;
  margin-bottom: 0.5rem;
  transform: translateX(70rem) translateY(-7rem);
  /* display: none; */
  cursor: pointer;
  height: 2px;
}

h1 {
  font-weight: 700;
  color: #263238;
  font-size: 3rem;
}

nav {
  position: relative;
}
ul {
  max-width: 500px;
  width: 100%;
  transform: translateX(25rem) translateY(-4rem);
}

ul li {
  display: inline;
  margin-right: 1rem;
  text-align: center;
  cursor: pointer;
  transition: all 1s;
  color: #263238;
}

ul li:hover {
  text-decoration: underline;
  text-decoration-color: #ff725e;
}

.a {
  text-decoration: none;
  color: #263238;
  text-align: center;
  cursor: pointer;
}

.profileSetting {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.profileSetting p {
  color: #263238;
}

.header {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 50% 50%;
}

.signComponents {
  display: grid;
  grid-template-columns: 50% 50%;
  box-sizing: border-box;
  margin-top: -2rem;
}

.mainLogo {
  cursor: pointer;
}

form {
  padding: 6rem 3rem;
  max-width: 550px;
  width: 100%;
  box-sizing: border-box;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="email"] {
  width: 100%;
  padding: 1rem 2rem;
  display: block;
  box-sizing: border-box;
  margin-bottom: 2rem;
  color: #263238;
  border: none;
  outline: none;
  border-bottom: 1px solid #263238;
}

label {
  color: gray;
  font-size: 1rem;
}

input[type="submit"] {
  width: 100%;
  padding: 1rem 2rem;
  display: block;
  box-sizing: border-box;
  margin-bottom: 2rem;
  color: #263238;
  border: none;
  outline: none;
  background: #ff725e;
  color: #fff;
  margin-top: 0.5rem;
  border-radius: 0.2rem;
  box-sizing: border-box;
}

.loginForm {
  margin-top: 5rem;
}

main {
  padding: 3rem;
}

.first-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-header p {
  margin-top: -2rem;
  padding: 0;
  font-size: 0.8rem;
}

.inner-header {
  max-width: 500px;
  margin: 0 auto;
  box-sizing: border-box;
  transform: translateY(10rem);
}

.getStartedButton {
  background-color: #f24a4a;
  border: none;
  padding: 0.7rem 3rem;
  color: #fff;
  margin-top: 0.5rem;
  cursor: pointer;
  border-radius: 0.3rem;
  box-shadow: 3px 3px 3px rgb(224, 224, 224);
  transition: all 1s;
}

.getStartedButton:hover {
  background: transparent;
  border: 1px solid #ff725e;
  color: #263238;
}

.already {
  margin-top: -1.5rem;
  color: gray;
  font-size: 0.8rem;
}

.already span {
  color: blue;
  text-decoration: underline;
  font-size: 0.8rem;
  cursor: pointer;
}

.about {
  padding: 1rem 2rem;
}

.aboutContainer {
  display: grid;
  grid-template-columns: 60% 40%;
  box-sizing: border-box;
}

.details {
  padding: 1rem 2rem;
}

.details h1 {
  text-align: center;
  color: #ff725e;
  font-size: 2rem;
}

.details p {
  text-align: justify;
  color: gray;
}

.contactContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  box-sizing: border-box;
}

.contactDetails {
  padding: 2rem 2rem;
}

.contactDetails h1 {
  text-align: center;
  color: #ff725e;
  font-size: 2rem;
}

.contactDetails p {
  text-align: justify;
  color: gray;
}

.contactContainer p a {
  text-decoration: none;
  color: gray;
  font-weight: 600;
}

.contactImageContainer {
  padding: 2rem;
}

.worksImg {
  padding: 1rem 2rem;
  box-sizing: border-box;
}

.allTogether {
  display: grid;
  grid-template-columns: 40% 60%;
}

.workDetails {
  margin-top: 4rem;
  padding: 1rem 2rem;
}

.workDetails h1 {
  text-align: left;
  color: #ff725e;
  font-size: 2rem;
}

.workDetails p {
  text-align: justify;
  color: gray;
}

.addTask {
  margin-left: 35rem;
}

.addTask button {
  background: #ff715e80;
  padding: 1rem 2rem;
  font-size: 3rem;
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 6rem;
  color: #fff;
  border: none;
}

.mainTask {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  box-sizing: border-box;
}

.mainTask input {
  margin-top: 5rem;
  width: 100%;
  padding: 1rem 2rem;
  display: block;
  box-sizing: border-box;
  margin-bottom: 2rem;
  color: #263238;
  border: none;
  outline: none;
  border-bottom: 1px solid #263238;
}

.mainTask button {
  text-align: center;
  background: #f24a4a;
  color: #fff;
  border: none;
  margin-left: 12rem;
  border-radius: 0.2rem;
  padding: 0.7rem 3rem;
  box-shadow: 0.5px 2px 0.6px rgb(84, 84, 84);
  cursor: pointer;
  box-sizing: border-box;
}
hr {
  margin-top: -2rem;
}

.dashboardContainer {
  display: grid;
  grid-template-columns:15% 85% ;
  margin-top: -.4rem;
}

.mainDashboard {
  background: rgba(236, 236, 236, 0.213);
  background-image: linear-gradient(to bottom, #fff, rgba(236, 236, 236, 0.213),);
  padding: 2rem 1rem;
  height: 100vh;
  box-sizing: border-box;
}

.mainDashboard h2{
  color: #263238;
  font-weight: 400;
}



.dashboardDetails {
  padding: 2rem 1rem;
}

.innerDetails {
  color: gray;
  font-weight: 800;
  margin-top: -2rem;
}

.tasks {
  display: grid;
  grid-template-columns: .5fr .5fr .5fr;
  gap:1rem;
  box-sizing: border-box;
}


.done {
  color:  green;
  box-sizing: border-box;
  border-radius: 1rem;
}



.pie{
  border: 2px solid rgb(132, 21, 21);
  box-sizing: border-box;
  border-radius: 1rem;
  padding: 1rem 3rem;
  box-shadow: inset 3px 3px 3px #f24a4a;
}

.pending {
color: gold ;
  box-sizing: border-box;
  border-radius: 1rem;
}

.started {
  color:  blue;
  box-sizing: border-box;
  border-radius: 1rem;
}

.allPriority h2 {
  color: gray;
  text-align: center;
}

.loading {
  margin-top: 10rem;
  margin-left: 5rem;
  display: flex;
  gap: 1rem;
}

.loading img {
  width: 10%;
}

.loading p {
  color: #f24a4a;
}

@media (max-width: 884px) {
  ul {
    transform: translateX(12rem) translateY(-4rem);
  }
}

@media (max-width: 768px) {
  ul {
    transform: translateX(9rem) translateY(-4rem);
  }

  .aboutContainer {
    grid-template-columns: 100%;
  }

  .contactContainer {
    grid-template-columns: 100%;
  }

  .allTogether {
    grid-template-columns: 100%;
  }
}

@media (max-width: 428px) {
  ul {
    display: none;
  }

  .profile {
    display: none;
  }

  .hamburger div {
    display: block;
    transform: translateX(20rem) translateY(-3rem);
    width: 10%;
  }

  .header {
    grid-template-columns: 100%;
  }

  .inner-header {
    transform: translateY(0);
    margin-bottom: 2rem;
  }

  .inner-header button {
    width: 100%;
  }

  .signComponents {
    grid-template-columns: 100%;
  }
}
